#add{

margin-right:20px;
	float:right;
}
.item{

display: inline-block;
}
#buttons{
margin-top:20px;
margin-left: 20px;

}

#addAnimal{

	margin-top:10px;
}

#gifsAppearHere img{

margin-left: 10px;
}

#gifsAppearHere p{
	margin-left: 10px;
}
#gifsAppearHere{
	margin-top:10px;
}